/*FONTS
Museo Sans 300
font-family: museo-sans,
sans-serif;
font-weight: 300;
font-style: normal;

Beloved Sans
font-family: beloved-sans,sans-serif;
font-weight: 400;
font-style: normal; */

/* START OF MEDIA QUERIES*/

@media (min-width:700px) {}



/* END OF MEDIA QUERIES

/*NAVIGATION BAR*/
@media (min-width: 600px) {
    .topnav {
        font-family: beloved-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        position: relative;
        grid-column: 1/5;
        grid-row: 1/1;
        margin-right: 30px;
    }

    .topnav #myLinks {
        position: fixed;
        right: 0;
        display: none;
        font-family: beloved-sans, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 30px;
        background-color: black;
    }

    .topnav a {
        color: white;
        padding: 12px;
        text-decoration: none;
        font-size: 60px;
        display: block;
    }

    .topnav a.icon {
        background: white;
        display: grid;
        position: absolute;
        right: 0;
        top: 30px;
        width: 40px;
    }

    #menuactive {
        background-color: white;
        color: black;
        padding: 12px;
        text-decoration: none;
        font-size: 40px;
        display: block;
        text-align: center;
        margin: 12px;
    }

    #menu {
        color: white;
        padding: 12px;
        text-decoration: none;
        font-size: 40px;
        display: block;
        text-align: center;
        margin: 12px;
    }

    /*END OF NAV*/


    /*START OF BLOCKS*/
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 25px;
        height: 736px;

    }

    .blocktwo {
        grid-column: 1/5;
        grid-row: 2/2;
        margin-left: 100px;
        margin-right: 100px;
    }

    #blocktwo {
        grid-column: 1/5;
        grid-row: 2/2;
    }

    .blockthree {
        grid-column: 1/5;
        grid-row: 3/3;
        font-family: museo-sans, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 45px;
        color: white;
        text-align: justify;
    }

    #blockthree {
        margin-left: 100px;
        margin-right: 100px;
        grid-column: 1/5;
        grid-row: 3/3;
    }

    .blockfour {
        grid-row: 4/4;
        grid-column: 1/5;
        font-family: museo-sans, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        font-size: 45px;
        text-align: center;
    }

    #blockfour {
        grid-row: 4/4;
        grid-column: 1/5;
        margin-left: 100px;
        margin-right: 100px;
    }

    .blockfive {
        grid-column: 1/5;
        grid-row: 5/5;
    }

    #blockfive {
        grid-column: 1/5;
        grid-row: 5/5;
        margin-left: 100px;
        margin-right: 100px;
    }

    .blockfiveimg {
        grid-column: 1/1;
        width: 35%;
        margin: 25px;
    }

    .blocksix {
        grid-row: 6/6;
        grid-column: 1/5;
        margin-top: 100px;
    }

    .blockseven {
        grid-row: 7/7;
        grid-column: 1/5;
    }

    .blockeight {
        grid-row: 8/8;
        grid-column: 1/5;
    }

    .blocknine {
        grid-row: 9/9;
        grid-column: 1/5;
    }

    /*END OF BLOCKS*/


    /* START OF STYLES*/

    body {
        background-color: black;
    }

    .header {
        font-size: 60px;
        font-family: beloved-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        display: grid;
        text-align: center;
        line-height: 80px;
    }

    img {
        width: 100%;
    }

    #imgpaw {
        width: 55%;
        margin-left: 215px;
        margin-bottom: 80px;
    }

    li {
        color: white;
        font-size: 35px;
        list-style: none;
        text-align: center;
    }

    .title {
        font-family: beloved-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 45px;
        margin-top: 35px;
    }

    .fact {
        font-family: museo-sans, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 40px;
        margin-top: -15px;
    }

    .scroll {
        overflow-x: scroll;
        display: inline-flex;
    }

    video {
        margin-left: 110px;
        margin-top: 50px;
    }

    /* END OF STYLES*/

    #blocksix {
        grid-row: 6/6;
        grid-column: 1/5;
        margin-top: -60px;
    }

    .galleryimg {
        width: 55%;
        margin: 20px;
    }

    footer {
        width: 100%;
        padding: 20px;
        background-color: white;
        text-align: center;
        font-family: beloved-sans, sans-serif;
        font-weight: 600;
        font-style: normal;
        position: static;
        font-size: 30px;
        margin-left: -8px;
        margin-right: 2px;
    }
}
